export(zsfm, psfm, sfm, ttsfm, npsfm, sfa_diagnostics, data_gen_p, data_gen_cs, summary.sfareg, print.sfareg, psfm_bootstrap)

import("methods")
import("plm") # import whole package
import("minqa") # import whole package
import("randtoolbox") # import whole package
import("mnormt") # import whole package
import("truncnorm") # import whole package
import("tmvtnorm") # import whole package
import("Formula") # import whole package
import("pso") # import whole package 
import("numDeriv") # import whole package
import("gsl") # import whole package
import("pbapply") # import whole package
import("parallel") # import whole package

importFrom("utils", "head")
importFrom("stats", "coef",         "dnorm",          "dt",      "integrate", "lm",
                    "model.matrix", "model.response", "optim",   "pnorm",     "pt",
                    "qnorm",        "rcauchy",        "rexp",    "rnorm",     "rt",
                    "qt",
                    "as.formula",   "complete.cases", "formula", "sd",        "runif",
                    "ave",          "cor",            "terms",   "lm.fit",
                    "plogis",       "rbinom",         "rgamma",  "rlnorm",    "rweibull",
                    "dlnorm",        "fitted",         "residuals", "optimize")
S3method(summary, sfareg)
S3method(print, sfareg)
S3method(coef, sfareg)
S3method(vcov, sfareg)
S3method(logLik, sfareg)
S3method(nobs, sfareg)
S3method(predict, sfareg)
S3method(fitted, sfareg)
S3method(residuals, sfareg)
S3method(print, npsfareg)
S3method(summary, npsfareg)
S3method(fitted, npsfareg)
S3method(residuals, npsfareg)
S3method(nobs, npsfareg)
S3method(plot, sfareg)
S3method(print, sfadiag)